{% set name = item.get('name', item['image'].replace('-', '_') + item.get('flavor', '')) -%}

[Unit]
Description=Generic dockerized service {{ name }}
After=docker.service
Requires=docker.service
StartLimitInterval=0

[Service]
RestartSec=1
TimeoutStartSec=infinity
StartLimitBurst=100
Restart=always

ExecStartPre=-/bin/bash -c '/usr/bin/docker stop %n >/dev/null 2>&1'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm -f %n >/dev/null 2>&1'
ExecStop=/bin/bash -c '/usr/bin/docker rm -f %n >/dev/null 2>&1'
ExecStart=/usr/bin/docker run -i --rm --name %n \
    -v /srv/spool/{{ name }}:/srv/spool/{{ name }} \
    -v /srv/run/{{ name }}:/srv/run/{{ name }} \
    -e "HEALTHCHECK_CMD=chkp-monit -n {{ name }}" \
    --cap-add=sys_nice \
    {{ item.params | default }} \
    {{ item.image }}{{ item.flavor | default | replace('_', '-') }} \
{% if 'cmd' in item %}
    {{ item.cmd }}
{% else %}
    bash -c "{{ item.entrypoint | default('exec python3 -m main') }} /cfg/{{ server }}/{{ name }}.toml {{ item.args | default }}"
{% endif %}

SyslogIdentifier={{ name }}

[Install]
WantedBy=default.target
